 <div class="container m-2">
    <div class="row">
        <div class="col-md-8">
            <img src="/img/home-background.png" class="rounded" alt="Pizza">
        </div>


    </div>
</div>

<div class="container m-2">
    <div class="row">
        <div class="col-md-8 mt-3">
            <p>Willkommen bei Delivery!</p>
            <p>Du hast gerade den kulinarischen Himmel betreten, wo der Duft von frisch gebackener Pizza in der Luft liegt und der Geschmack von unwiderstehlichem Käse auf deiner Zunge schmilzt. Hier erwartet dich eine einzigartige Auswahl an köstlichen Pizzas, die mit Liebe und Sorgfalt zubereitet werden, um deinen Gaumen zu verzaubern.</p>
            <p>&#x1F33F; Unser Geheimnis? Wir verwenden nur die frischesten und hochwertigsten Zutaten, um sicherzustellen, dass jede Pizza ein Meisterwerk ist. Von der klassischen Margherita bis hin zu kreativen Spezialitäten, bieten wir eine breite Palette von Geschmacksrichtungen, die jeden Hunger stillen.</p>
            <p>&#x1F3E0; Keine Lust, das Haus zu verlassen? Kein Problem! Unser zuverlässiger Lieferservice bringt die Pizza deiner Träume direkt zu dir nach Hause. Und das Beste daran? Unser Team ist für seine blitzschnelle Lieferung bekannt, sodass du nicht lange auf den Genuss warten musst.</p>
            <p>&#x1F4B0; Aber das ist noch nicht alles! Unsere unschlagbaren Angebote und regelmäßigen Aktionen sorgen dafür, dass du nicht nur deinen Gaumen, sondern auch deinen Geldbeutel verwöhnst. Bei uns bekommst du die beste Qualität zum besten Preis!</p>
            <p>&#x1F929; Und weil uns deine Zufriedenheit am Herzen liegt, hören wir gerne auf dein Feedback und nehmen Verbesserungsvorschläge an, um unseren Service stetig zu optimieren.</p>
            <p>&#x1F355; Wir freuen uns darauf, dich mit unserer Pizza-Kunst zu begeistern!</p>
            <p>Dein Delivery Team</p>
        </div>
    </div>
</div>